<ion-content class="container">

  <div class="seats">
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat occupied">S</div>
    <div class="seat occupied">S</div>
    <div class="seat occupied">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat occupied">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat occupied">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>
    <div class="seat">S</div>

  </div>

  <script src="assets/js/script.js"></script>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="confirmation-buttons">
      <ion-button>
        Continue
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>