<ion-content>

  <div class="container">


    <ion-card class="card">

      <div class="header">
        {{message}}
      </div>

    </ion-card>

    <ion-card class="card">

      <ion-card-header>
        <ion-list>
          <div class="name" *ngFor="let concert of listing" (click)="selectConcert(concert)">
            {{concert.name}}
          </div>

        </ion-list>
      </ion-card-header>

    </ion-card>

    <ion-card class="card" (click)="selectConcert()">
      <ion-card-header>
        <table class="table" *ngIf="selectedConcert">
          <tr>
            <td>Name</td>
            <td>{{selectedConcert.name}}</td>
          </tr>

          <tr>
            <td>Place</td>
            <td>{{selectedConcert.place}}</td>
          </tr>

          <tr>
            <td>Genre</td>
            <td>{{selectedConcert.genre}}</td>
          </tr>

          <tr>
            <td>Monday</td>
            <td>
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item" *ngFor="let time of selectedConcert.runningTimes.mon"><a class="page-link"
                      href="#">{{time}}</a></li>
                </ul>
              </nav>
            </td>
          </tr>

          <tr>
            <td>Tuesday</td>
            <td>
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item" *ngFor="let time of selectedConcert.runningTimes.tue"><a class="page-link"
                      href="#">{{time}}</a></li>
                </ul>
              </nav>
            </td>
          </tr>

          <tr>
            <td>Wednesday</td>
            <td>
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item" *ngFor="let time of selectedConcert.runningTimes.wed"><a class="page-link"
                      href="#">{{time}}</a></li>
                </ul>
              </nav>
            </td>
          </tr>

          <tr>
            <td>Thursday</td>
            <td>
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item" *ngFor="let time of selectedConcert.runningTimes.thu"><a class="page-link"
                      href="#">{{time}}</a></li>
                </ul>
              </nav>
            </td>
          </tr>

          <tr>
            <td>Friday</td>
            <td>
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item" *ngFor="let time of selectedConcert.runningTimes.fri"><a class="page-link"
                      href="#">{{time}}</a></li>
                </ul>
              </nav>
            </td>
          </tr>

          <tr>
            <td>Saturday</td>
            <td>
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item" *ngFor="let time of selectedConcert.runningTimes.sat"><a class="page-link"
                      href="#">{{time}}</a></li>
                </ul>
              </nav>
            </td>
          </tr>

          <tr>
            <td>Sunday</td>
            <td>
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item" *ngFor="let time of selectedConcert.runningTimes.sun"><a class="page-link"
                      href="#">{{time}}</a></li>
                </ul>
              </nav>
            </td>
          </tr>


        </table>
      </ion-card-header>
    </ion-card>

    <ion-card class="card">
      <div id="button">
        <tr>
          <td>
            <button class="book" routerLink="/booking">Book Now</button>
          </td>
        </tr>
      </div>
    </ion-card>

    <div class="row">

      <div class="col-md-6">
        <div class="card">

        </div>
      </div>



    </div>



  </div>


</ion-content>