ion-content {
    --background:url(/assets/images/BG.png) 0 0/100% 100% no-repeat;
}

ion-card-header {
    background-color: #50006a;
    color: #d7d7d7;
    font-size: 18px;
    text-align: center;
}

ion-list {
    background-color: #50006a;
    color: #d7d7d7;
    font-size: 18px;
    text-align: center;
}

.header {
    text-align: center;
    padding: 15px;
    color: #d7d7d7;
}

// .card:focus {
//     background-color: #50006a;
//     color: #00e1ff;
// }
 
.card {
    background-color: #50006a;
    color: #d7d7d7;
    font-size: 18px;
    text-align: center;
}

#button {
    background-color: #50006a;
    color: #d7d7d7;
    font-size: 18px;
    text-align: center;
}

.book {
    background-color: #50006a;
    color: #d7d7d7;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    margin-left: 7pc;
}








 